<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michelangelo Codes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/atom-one-dark.min.css"
    />
    <script
      nonce="PLACEHOLDER"
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
    ></script>
    <script nonce="PLACEHOLDER" hx-trigger="load">
      document.addEventListener('DOMContentLoaded', function () {
        hljs.highlightAll()
      })
    </script>
    <script
      nonce="PLACEHOLDER"
      src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"
    ></script>
    <script nonce="PLACEHOLDER">
      htmx.config.includeIndicatorStyles = false
    </script>
  </head>
  <body class="bg-gray-100 p-6">
    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
      <header class="fixed top-0 left-0 right-0 bg-white shadow-md z-10 p-4">
        <div class="max-w-3xl mx-auto">
          <h1 class="text-2xl font-bold">Michelangelo Codes</h1>
          <nav class="mt-2 space-x-4">
            <a href="#" hx-get="/content/home" hx-target="#content">Home</a>
            <a href="#" hx-get="/content/about" hx-target="#content">About</a>
            <a href="#" hx-get="/content/blog" hx-target="#content">Blog</a>
          </nav>
        </div>
      </header>
    </div>
    <div class="pt-24 bg-gray-100 p-6">
      <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <main
          id="content"
          class="prose"
          hx-get="/content/home"
          hx-trigger="load"
        >
          <!-- Dynamic content will be loaded here -->
        </main>
      </div>
    </div>
  </body>
</html>
