body {
  font-family: Arial, sans-serif;
  background-color: #2e3440;
  color: #d8dee9;
}

h1,
h2,
h3 {
  color: #88c0d0;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem; /* Remains unchanged as it's already in rem */
  color: #d8dee9;
  line-height: 1.5rem;
}

pre,
code {
  background-color: #3b4252;
  border: 1px solid #4c566a;
  padding: 1em; /* Changed from 10px to 1em */
  margin-bottom: 2rem; /* Changed from 20px to 2rem */
  border-radius: 0.5rem; /* Changed from 5px to 0.5rem */
  overflow-x: auto;
  color: #d8dee9;
  font-family: 'Fira Code', monospace;
  font-variant-ligatures: contextual;
}

pre {
  white-space: pre-wrap; /* Enable line wrapping in pre tags */
}

code {
  display: block;
}

/* Syntax highlighting using Highlight.js */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #3b4252;
  color: #d8dee9;
  border-radius: 0.5rem; /* Changed from 5px to 0.5rem */
}

.hljs-comment,
.hljs-quote {
  color: #616e88;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #81a1c1;
  font-weight: bold;
}

.hljs-literal,
.hljs-number,
.hljs-attribute {
  color: #b48ead;
}

.hljs-string,
.hljs-doctag {
  color: #a3be8c;
}

.hljs-title,
.hljs-section {
  color: #8fbcbb;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-name,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #88c0d0;
}

.hljs-class .hljs-title,
.hljs-type,
.hljs-tag,
.hljs-variable,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-deletion,
.hljs-addition {
  color: #ebcb8b;
}

/* Tailwind specific styling */
.bg-gray-100 {
  background-color: #2e3440;
}

.bg-white {
  background-color: #3b4252;
}

.text-2xl,
.text-xl,
.text-lg {
  color: #88c0d0;
}

.border {
  border-color: #4c566a;
}

.border-gray-700 {
  border-color: #4c566a;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
}

.m-4 {
  margin: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

/* Custom styles for fixed header */
header {
  width: 100%;
}

.pt-24 {
  padding-top: 6rem; /* Adjust this value if the header height changes */
}

/* Link styles */
nav a {
  color: #8a92a0; /* Tailwind's gray-700 */
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a:hover {
  color: #bdc5d1; /* Tailwind's blue-500 */
  text-decoration: none;
}

.htmx-indicator {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

h2.main-title {
  font-weight: bold; /* Make it bold */
  margin-bottom: 2rem; /* Add space below */
  font-size: 1.5rem; /* Increase font size */
}
